.main-clubs-slider .swiper-button-prev,
.main-clubs-slider .swiper-button-next {
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000;
  background-color: #fff;
  border-radius: 50%;
}

.main-clubs-slider .swiper-button-prev:after,
.main-clubs-slider .swiper-button-next:after {
  font-size: inherit;
}

.main-clubs-slider .swiper-button-prev:hover,
.main-clubs-slider .swiper-button-next:hover {
  color: #fff;
  background-color: #fff06b;
}

@media (min-width: 1024px) {
  .clubsGallery .container::before {
    content: '';
    position: absolute;
    top: -45%;
    left: -15%;
    width: 70%;
    height: 70%;
    background-image: url('../../images/decor/3.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}
