@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gotham Pro';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: local('Gotham Pro'),
    url('./fonts/GothaProReg.woff2') format('woff2');
}

@font-face {
  font-family: 'Gotham Pro';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Gotham Pro'),
    url('./fonts/GothaProReg_1.woff2') format('woff2');
}

@font-face {
  font-family: 'Gotham Pro';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Gotham Pro'),
    url('./fonts/GothaProBol.woff2') format('woff2');
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: 'Gotham Pro', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}
