.footer .container {
  position: relative;
}

@media (min-width: 1024px) {
  .footer .container::before {
    content: '';
    position: absolute;
    bottom: 40%;
    right: -10%;
    width: 278px;
    height: 290px;
    background-image: url('../../images/decor/1.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}
