@media (min-width: 567px) {
  .tariff {
    max-width: 360px;
  }
}

@media (min-width: 960px) {
  .tariff {
    max-width: 360px;
  }
}

.tariff-btn-bg {
  border: 2px solid;
  border-color: transparent;
  background-color: #1c8ac8;
}

.tariff-btn-bg:hover {
  background-color: transparent;
  border-color: #1c8ac8;
  color: #1c8ac8;
}

.tariff-btn-bg-outline {
  border: 2px solid;
  background-color: transparent;
  border-color: #1c8ac8;
  color: #1c8ac8;
}

.tariff-btn-bg-outline:hover {
  border-color: transparent;
  background-color: #1c8ac8;
  color: white;
}
