[class^="StepperContainer"] {
  padding: 0 !important;
  width: 100%;
}

[class^="StepButton-"].active {
  background-color: #1c8ac8 !important;
}

[class^="StepButton-"].completed {
  background-color: #1c8ac8 !important;
}

.stepper-form-wrapper label::after {
  content: '';
}
