/* .react-multiple-carousel__arrow {
  background: white;
}
@media (max-width: 567px) {
  .react-multiple-carousel__arrow {
    min-width: 30px;
    min-height: 30px;
  }
}

.react-multiple-carousel__arrow::before {
  color: black;
}
.react-multiple-carousel__arrow:hover::before {
  color: white;
}

.react-multiple-carousel__arrow--right {
  right: 0;
}
.react-multiple-carousel__arrow--left {
  left: 0;
} */
